.feature-card24-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card24-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card24-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card24-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}




@media(max-width: 767px) {
  .feature-card24-feature-card {
    flex-direction: row;
  }
  .feature-card24-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card24-container {
    flex-direction: column;
  }
}
