---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <section>
    <p>Page not found</p>
    <a href="javascript:history.back()">Go back</a>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
  }

  a {
    margin-top: 1rem;
  }
</style>
