---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Purple Bubble">
  <section><p>We are Purple Bubble</p></section>
  <section>
    <p>
      Made up of teens from around the globe we hope to create a new messageing
      app that will change the way you think about privacy and annonimity. We
      want to revolutionize the way messaging apps work and make it so that
      instead of you being the product, you are the user and the app works for
      you.
    </p>

    <p>
      We are currently in the early stages of development and are looking for
      people to help us test our app. If you are interested in helping us test
      our app please sign up for our mailing list below. (We promise not to send
      you any spam, only important milestones which will less than 4-5 emails a
      year.)
    </p>
  </section>
  <section>
    <form
      action="https://postal.hackclub.com/subscribe"
      method="POST"
      accept-charset="utf-8"
    >
      <label for="name">Name</label><br />
      <input type="text" name="name" id="name" placeholder="R. M. Bubbler" />
      <br />
      <label for="email">Email</label><br />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="bubbler@purplebubble.org"
      /><br /><br />

      <span>
        <input type="checkbox" name="gdpr" id="gdpr" />
        <strong>Marketing permission</strong>: I give my consent to Purple
        Bubble to be in touch with me via email using the information I have
        provided in this form for the purpose of news, updates and marketing.
        (Required by GDPR)</span
      >
      <br /><br />
      <span
        ><strong>What to expect</strong>: If you wish to withdraw your consent
        and stop hearing from us, simply click the unsubscribe link at the
        bottom of every email we send or contact us at <a
          href="mailto:%74e%61m%40pu%72p%6Ceb%75bble.org"
          >t&#101;am&#64;purplebub&#98;le&#46;org</a
        >.</span
      >
      <br /><br /><div style="display:none;">
        <label for="hp">HP</label><br />
        <input type="text" name="hp" id="hp" />
      </div>
      <input type="hidden" name="list" value="xjAecLBfJ3HdnmuBXhvkfg" />
      <input type="hidden" name="subform" value="yes" />
      <input type="submit" name="submit" id="submit" />
    </form>
  </section>
  <section>
    <p>
      If you want to donate to us hen you can do so <a
        href="https://hcb.hackclub.com/donations/start/purplebubble">here</a
      > with HCB. All donations will go towards the development of the app and
      are greatly appreciated and tax deductible.
    </p>
    <p>
      If you want to contact us then you have two options
      <ul>
        <li>
          Email us at <a
            href="mailto:
          %74e%61m%40pu%72p%6Ceb%75bble.org"
            >t&#101;am&#64;purplebub&#98;le&#46;org</a
          >
        </li>
        <li>
          Join our <a href="https://hackclub.com/slack/">Slack</a> (you must be
          a highschooler for this option; sorry adults :()
        </li>
      </ul>
    </p>
  </section>
</Layout>

<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
</style>
