---
import EmailForm from "../components/Email-Form.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Notification from "../components/Notification.astro";
import Footer from "../components/Footer.astro";
import "../styles/index.css";
---

<Layout title="Purple Bubble">
  <main>
    <div>
      <script
        type="text/javascript"
        src="https://unpkg.com/@lottiefiles/lottie-player@1.6.0/dist/lottie-player.js"
      ></script>

      <div class="home-container">
        <Hero />
        <div class="chevron-container">
          <button class="chevron-button" id="chevron-button"></button>
        </div>
        <Features />
      </div>
    </div>
  </main>
  <EmailForm />
  <Notification />
  <Footer />
</Layout>

<script>
  const button = document.getElementById("email-form-button");
  const scroll = document.getElementById("chevron-button");
  const form = document.getElementById("email-form");

  button.addEventListener("click", () => {
    // scroll to email form component
    form.scrollIntoView({
      behavior: "smooth",
      block: "center",
      inline: "nearest",
    });
  });
  scroll.addEventListener("click", () => {
    // scroll to one page down
    window.scrollBy({
      top: window.innerHeight,
      left: 0,
      behavior: "smooth",
    });
  });
</script>

