<div class="grid">
  <!-- Steering Committee Member 1 -->
  <div class="grid-item">
    <img src="https://cdn.purplebubble.org/headshots/jasper.jpeg" alt="Jasper" />
    <h2>Jasper Mayone</h2>
    <h3>Co-Chair</h3>
    <p></p>
  </div>

  <!-- Steering Committee Member 2 -->
  <div class="grid-item">
    <img src="https://cdn.purplebubble.org/headshots/reese.jpeg" alt="Reese" />
    <h2>Reese Armstrong</h2>
    <h3>Co-Chair</h3>
  </div>

  <!-- Steering Committee Member 3 -->
  <div class="grid-item">
    <img src="https://cdn.purplebubble.org/headshots/kieran.jpeg" alt="Kieran" />
    <h2>Kieran Klukas</h2>
    <h3>Treasurer / Secretary</h3>
  </div>

  <!-- Steering Committee Member 4 -->
  <div class="grid-item">
    <img src="https://cdn.purplebubble.org/headshots/samuel.jpeg" alt="Samuel" />
    <h2>Samuel Fernandez</h2>
    <h3>At Large</h3>
  </div>

  <!-- Steering Committee Member 5 -->
  <div class="grid-item">
    <img src="https://cdn.purplebubble.org/headshots/aram.jpeg" alt="Aram" />
    <h2>Aram Shiva</h2>
    <h3>At Large</h3>
  </div>
</div>

<style>
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .grid-item {
    flex-basis: 20%;
    padding: 0.25rem;
    box-sizing: border-box;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid var(--dl-color-gray-white); /* added white border */
    margin: 1rem;
  }

  .grid-item img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }

  .grid-item p {
    margin: 0;
  }
</style>
