<div class="footer">
    <p>&copy; Purple Bubble - 2023</p>
    <p>
        Powered by <a href="https://www.netlify.com/">Netlify</a>
    </p>
    <p>
        For any inquiries, or simply to say hi, please email us <a href="mailto:%68%65%6c%6c%6f%40%70%75%72%70%6c%65%62%75%62%62%6c%65%2e%6f%72%67">here</a>!
    </p>
</div>

<style>
    .footer {
        display: flex;
        text-align: center;
        margin-top: 50px;
        padding: 20px;
        border-top: 1px solid #ddd;
        flex: 0 0 auto;
    }

    .footer p {
        margin: 0;
        flex: 1;
    }
</style>