<div class="hero">
    <h1>Welcome To Purple Bubble!</h1>
    <span class="home-text1">
      <span>
        An open-source, next-generation messaging protocol with foundations in security and accessibility. Fostering secure and efficient communication and nurturing better connectivity, particularly in underdeveloped areas.
      </span>
    </span>
    <div class="home-btn-group">
      <a
        href="https://github.com/thepurplebubble"
        target="_blank"
        rel="noreferrer noopener"
        class="home-link button"
      >
        Help Contribute
      </a>
      <button
        type="button"
        class="home-button button"
        id="email-form-button"
        form-button>Sign Up For Newsletter</button
      >
    </div>
  </div>
