<style>
    .notification {
        position: fixed;
        bottom: 1vh;
        right: 1vw;
        color: var(--dl-color-gray-black);
        padding: 0.5rem;
        border-color: var(--dl-color-gray-black);
        border-width: 1px;
        border-radius: 4px;
        /* make background a slight blur */
        background: rgba(0, 0, 0, 0.8);
    }

    .notification {
        visibility: hidden;
    }

    .notification.show {
        visibility: visible;
        animation: disappear 5s forwards;
    }

    @keyframes disappear {
        0% {
            bottom: -10vh;
        }

        10% {
            bottom: 1vh;
        }

        90% {;
            bottom: 1vh;
        }

        100% {
            bottom: -10vh;
        }
    }

    .progress-bar {
        background-color: var(--dl-color-gray-black);
        height: 24px;
        width: 0;
        border-radius: 4px;
    }

    .progress-bar.start {
        width: 0;
        animation: progress-bar-animation 5s linear forwards;
    }

    @keyframes progress-bar-animation {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
</style>

<div class="notification" id="notification">
    <h2 id="notification-title"></h2>
    <p id="notification-message"></p>
    <!-- progress bar -->
    <div class="progress" id="notification-progress">
        <div class="progress-bar" id="notification-progress-bar" style="height:24px;width:1%"></div>
</div>

<script>
    const notification = document.getElementById('notification');
    const progress = document.getElementById('notification-progress-bar');

    // Add an event listener for the animationend event
    notification.addEventListener('animationend', function () {
        // Remove the show class when the animation ends
        notification.classList.remove('show');
        // remove progress bar
        progress.classList.remove('start');
    });

    notification.addEventListener('animationstart', function () {
        // star progress bar animation
        progress.classList.add('start');
    });
</script>