---
import "normalize.css";
import "magick.css";

interface Props {
  title: string;
}

const { title } = Astro.props;

const year = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="An open-source, next-generation messaging protocol with foundations in security and accessibility. Fostering secure and efficient communication and nurturing better connectivity, particularly in underdeveloped areas."
    />
    <meta property="og:title" content="Purple Bubble" />
    <meta
      property="og:description"
      content="An open-source, next-generation messaging protocol with foundations in security and accessibility. Fostering secure and efficient communication and nurturing better connectivity, particularly in underdeveloped areas."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <title>{title}</title>
  </head>
  <body>
    <header><h1>{title}</h1></header>
    <main>
      <slot />
    </main>
    <footer>&copy {year} Purple Bubble</footer>
  </body>
</html>
